body{
	margin:0;
}
header{
	background-color:#dddddd;
	border-bottom:4px solid #000000;
}
header nav a {
	display:block;
	color:#ffffff;
	background-color:#666666;
	text-decoration:none;
	padding:8px;
}
header nav a:hover{
	background-color:#000000;
}
h1{
margin:0;
font-family: 'Workbench', sans-serif;
}
a{
color:pink;
}
header nav ul{
	display:flex;
	justify-content:space-around;
	list-style:none;
	padding:0;
	margin:0;
}
header nav li{
	flex-grow:1;
	text-align:center;
}

footer{
	text-align:center;
	background-color:#666666;
	color:#ffffff;
	border-top:4px solid #000000;
}
footer p{
	margin:0;
	padding:32px 0 32px 0;
}

#login_register{
	display:flex;
	justify-content:center;
}



